*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
.errorMessage{
    width: 250px;
    text-align: center;
    border-radius: 20px;
    line-height: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #000;
    color: #fff;
    position: absolute;
    top: 5rem;
    right: 5rem;
    font-weight: 500;
}